* {
  margin: 0;
  padding: 0;
  /* border:1px solid red; */
}
html,
body {
  width: 100%;
  height: 100%;
}

#header-img {
  position: relative;
  margin-top: -450px;
  width: 100%;
  height: 20%;
  z-index: -1;
}
nav {
  position: relative;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
.nav-container {
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 7% 20% 50% 15%;
  grid-template-rows: 80px;
  text-align: left;
  font: Regular 18px/22px Montserrat;
  letter-spacing: 0.54px;
  color: #000000;
  opacity: 1;
}
.logo {
  grid-column: 1;
  position: relative;
  z-index: 2;
  left: 7%;
  width: 30%;

  margin-top: 2%;
}
.place {
  grid-column: 2;
  position: relative;

  margin-top: 25px;
  padding: 3%;

  text-align: left;
  font: Bold 40px/50px Perpetua;
  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
}

.bar {
  grid-column: 3;
  margin-left: 40%;
  margin-top: 38px;

  text-align: left;
  font-size: 16px;
  font-weight: 450;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.54px;
  color: #000000;
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.item {
  margin: 0;
}
.number {
  grid-column: 4;
  position: relative;
  top: 18px;

  width: 90%;
  height: 65px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  background: #fe8369 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #00000029;
  border-radius: 5px;
  opacity: 1;
}
.phone {
  width: 15%;
  margin-left: 8.5%;
}
.numb {
  width: 100%;
  color: #ffffff;
  letter-spacing: 0.6px;
  font-size: 20px;
  font-weight: 550;
  font-family: "Muli", sans-serif;
}
li {
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
a:active {
}
.header-text {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */

  color: #ffffff;
  text-shadow: 0px 5px 20px #5030206b;
  opacity: 1;
}
.help {
  position: relative;
  top: 200px;

  height: 61px;
  text-align: center;
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font: Regular 50px/70px Montserrat;
  letter-spacing: 1.5px;
  color: #ffffff;
}
.choose {
  position: relative;
  top: 200px;
  text-align: center;
  text-transform: uppercase;

  font-size: 70px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 2.1px;
  color: #ffffff;
  text-transform: uppercase;
}
.dropDown {
  position: relative;
  top: 250px;

  width: 52%;
  margin: 0 auto;
  height: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 40px #50302029;
  border-radius: 5px;
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.drop {
  padding: 5%;

  opacity: 1;
}

.dropA::after {
  content: "";
  border-right: 1px solid #d5cab8;

  position: absolute;
  left: 100%;
  height: 45px;
}
.dropB::after {
  content: "";
  border-right: 1px solid #d5cab8;

  position: absolute;
  left: 49%;
  height: 45px;
}

.dropA {
  grid-column: 1;
  position: relative;
}
.dropdown-heading {
  position: relative;

  height: 19px;
  left: 5%;
  top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;

  letter-spacing: 0.48px;
  color: #d4c9b6;
  opacity: 1;
}
.drop-list {
  position: relative;
  top: 13px;

  left: 5%;
  width: 80%;
  height: 36px;
  text-align: left;
  font-size: 30px;
  font-family: Perpetua, sans-serif;
  font-weight: 350;

  color: #4b4b4b;
  opacity: 1;
}
select {
  border: 0px;
  outline: 0px;
}
.dropD {
  background: #fe8369 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  text-align: center;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-transform: uppercase;

  letter-spacing: 0.6px;
  color: #ffffff;
  opacity: 1;
}
.main-sec {
  position: relative;
  top: -800px;
  display: grid;
  grid-template-columns: 58% 42%;
  z-index: 1;
}
.sec {
  position: relative;
  /* border: 1px solid black; */
  height: 800px;
}
.main-welcome {
  text-align: left;
  width: 70%;
  position: relative;
  margin-top: 127px;
  font-family: "Perpetua", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;

  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
}
.line {
  border: 1px solid #fe8369;
  opacity: 1;
}
.line1 {
  position: relative;
  top: 14.5px;
}
.sub-text {
  position: relative;
  top: 56px;
  width: 65%;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 320;
  line-height: 40px;

  font-size: 16px;
  letter-spacing: 0px;
  color: #4b4b4b;
  opacity: 1;
}
#sub-text2 {
  position: relative;
  margin-top: 51px;
}
.details {
  position: relative;
  top: 86px;
  width: 22%;
  height: 60px;
}
.sub-detail {
  padding: 5px;
  font-family: Muli, sans-serif;
  font-weight: 350;
  text-align: center;

  font-size: 18px;
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
#arrow1 {
  width: 15%;
  height: 12px;
}
.sectionA {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto;
}
/* .part{
  border: 1px solid red;

} */
.partA {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partB {
  grid-column: 2;
  grid-row: 1;
}
.partC {
  grid-column: 2;
  grid-row: 2;
}
.white {
  position: relative;
  left: 10%;
  width: 55%;
  height: 539px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 40px #5030200d;
  border-radius: 5px;
  opacity: 1;
}
.pic1 {
  position: relative;
  width: 75%;
  height: 359px;
  left: 12.5%;

  margin-top: 35px;
}
.white-text {
  top: 5px;

  position: relative;
  left: 25%;

  height: 23px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font-family: "Perpetua", sans-serif;
  /* font: Bold 20px/23px Perpetua; */
  letter-spacing: 0px;
  color: #4b4b4b;
  opacity: 1;
}
#line2 {
  position: relative;
}
.white-text::before {
  display: flex;
  float: left;
  content: "";
  position: absolute;
  border-top: 2px solid #fe8369;
  width: 40px;
  margin-left: -40px;
  top: 10px;
}
.white-subtext {
  position: relative;
  top: 10px;
  left: 25%;
  width: 75%;

  text-align: left;
  font-weight: 290;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;

  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}
.secB,
.secC {
  position: relative;
  height: 470px;

  width: 70%;
  height: 470px;
}
.pic2,
.pic3 {
  position: relative;
  width: 75%;
  height: 287px;
  left: 12.5%;

  margin-top: 35px;
}
.secC {
  margin-top: 34px;
}
.featured {
  position: relative;
  top: -520px;
}
.featured-heading {
  position: relative;
  text-transform: uppercase;
  width: 50%;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  font-family: "Perpetua", "sans-serif";

  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
  left: 12%;
}
.line2 {
  position: relative;
  width: 588px;
  height: 0px;

  opacity: 1;
}
.featured-sub {
  position: relative;
  text-align: left;
  width: 50%;
  top: 30px;
  line-height: 35px;
  font-weight: 200;
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
  left: 12%;
  letter-spacing: 0px;
  color: #4b4b4b;
  opacity: 1;
}

.sec-nav {
  display: flex;
  float: right;
  margin-top: 10px;
  right: 22%;

  width: 2%;
  height: 23px;
  text-align: left;
  font-weight: 350;
  font-size: 20px;
  font-family: "Perpetua", "sans-serif";
  letter-spacing: 0.6px;
  opacity: 1;
  position: relative;
}

.sec-nav a {
  text-decoration: none;

  padding-right: 39px;
}
#rent {
  color: #fe8369;
}
#rent::before {
  display: flex;
  float: left;
  content: "";
  position: absolute;
  border-top: 2px solid #fe8369;
  width: 47px;
  margin-left: 0px;
  top: 28px;
}

.featured-items {
  position: relative;
  top: 90px;
  display: grid;
  margin-left: 13%;
  grid-template-columns: 27% 27% 27%;
  grid-gap: 4%;
}

.feature {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 20px #50302028;
  border-radius: 5px;
  opacity: 1;

  /* border:1px solid red; */
  height: 485px;
}
.featured-home {
  width: 100%;
}
.featured-text {
  position: relative;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  font-family: "Perpetua", "sans-serif";
  margin-left: 8%;
  margin-top: 20px;
  letter-spacing: 0.66px;
  color: #4b4b4b;
  opacity: 1;
}
.nav-room {
  display: grid;
  margin-left: 8%;
  grid-template-columns: repeat(2, 20%);
}
.room {
  position: relative;
  margin-top: 10px;
  height: 39px;

  padding: 10px;
}
.img-bath,
.img-bed {
  width: 35%;
  height: 20px;
}
.ba,
.bd {
  position: relative;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  top: -5px;
  font-family: " Montserrat", "sans-serif";

  letter-spacing: 0px;
  color: #4b4b4b;
  opacity: 1;
}
.room::after {
  position: relative;
  content: "";
  border-right: 1px solid #d5cab8;

  margin-left: 35%;
  top: -5px;
  height: 70px;
}
button {
  border: none;
}
.btn-price {
  position: relative;
  border-radius: 0px;

  top: -55px;
  height: 37px;
  width: 170%;
  left: 296%;
  background: #fe8369 0% 0% no-repeat padding-box;
  opacity: 1;
}
.dropDown {
}
.txt-price {
  text-align: left;
  font-family: Muli;
  font-size: 19px;
  font-weight: 450;

  letter-spacing: 0.6px;
  color: #ffffff;
  opacity: 1;
}
.btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-view {
  position: relative;

  width: 9%;
  height: 62px;
  top: 230px;

  box-shadow: 0px 20px 20px #50302028;
  border-radius: 5px;
}
.btn-view-text {
  text-align: center;
  font-size: 18px;
  font-family: Mul, sans-serif;
  font-weight: 300;

  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
#arrow2 {
  margin-left: 3px;
}
.benefits {
  position: relative;
  top: -200px;

  background-color: #f0e3d0;
  background-image: url(/images/pattern.png);
  background-position: bottom left;
  background-repeat: no-repeat;

  height: 1300px;
}
.benefits-text {
  position: relative;
  top: 121px;
  width: 90%;
  margin: 0 auto;
  font: Bold 40px/50px Perpetua;
  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
  text-transform: capitalize;
  text-align: center;
}
#line3 {
  position: relative;
  top: 94px;
  width: 39%;
  margin-left: 0%;
}

.process-container {
  position: relative;
  margin-top: 289px;

  display: grid;
  grid-template-columns: 29% 50%;
  margin-left: 20%;

  grid-gap: 5%;
}
.process {
  position: relative;
  /* border: 1px solid black; */
  height: 800px;
}
#Heading {
  margin-top: 150px;
  width: 100%;
  height: 96px;
  text-align: left;
  font-size: 40px;
  font-family: Perpetua, sans-serif;
  font-weight: 600;

  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
}
.sub-head {
  position: relative;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  line-height: 35px;
  font-size: 14px;
  font-family: Muli, "sans-serif";
  font-weight: 300;
  margin-top: 43px;
}
.view-all {
  position: relative;
  width: 32%;
  margin-left: 2%;
  top: 40px;
  height: 52px;
}
.btn-view-all {
  font-size: 18px;
  font-family: Muli, "sans-serif";
  font-weight: 300;

  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
.process-B {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 6%;
}
.section {
  position: relative;
  /* border: 1px solid black; */
  padding: 10%;
  height: 300px;
}
.time {
  grid-row: 1;
  grid-column: 1;
  background: #fe8369 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000008;
  opacity: 1;
}
.support {
  grid-row: 2;
  grid-column: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #f0e3d0;
  opacity: 1;
}

.sec-Head {
  position: relative;
  margin-top: 30.12px;
  text-align: left;
  font-size: 20px;
  font-family: "Perpetua", "sans-serif";
  font-weight: 600;

  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 1;
}
.sec-subHead {
  text-align: left;
  position: relative;
  margin-top: 18px;
  font-size: 14px;
  font-family: "Muli", "sans-serif";
  font-weight: 100;
  line-height: 35px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 85%;
}
.sec-img {
  width: 30%;
}
#subSupport-heading,
#subSupport-subHeading,
#subTarget-heading,
#subTarget-subHeading {
  color: #4b4b4b;
}
.target {
  position: relative;
  top: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #f0e3d0;
  opacity: 1;
}
.testimonial {
  top: -189px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 525px;
}
.vl {
  border-left: 2px solid #fe8369;
  height: 200px;
  position: relative;
  top: -175px;
  left: 11%;
}
.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 174px;
  border-radius: 50%;
  top: 145px;
  left: -200px;
  border: 1px solid #fe8369;
}

.testimonial-person {
  position: relative;
  width: 85%;
}
.testimonial-text {
  position: relative;
  top: 44px;
  text-align: center;

  left: 2%;

  height: 96px;

  font-size: 40px;
  font-family: Perpetua, sans-serif;
  font-weight: 600;

  letter-spacing: 1.2px;
  color: #4b4b4b;
  opacity: 1;
}
.testimonial-subText {
  height: 596px;
  position: relative;

  top: -219px;
}
.testimonial-des {
  text-align: center;
  width: 51%;
  display: block;
  position: relative;
  top: 45px;
  margin: 0 auto;
  font: Italic 20px/35px Muli;
  font-weight: 300;
  letter-spacing: 0px;
  color: #4b4b4b;
  opacity: 1;
}
.testimonial-name {
  position: relative;
  top: 70px;
  margin: 0 auto;

  text-align: center;
  font: Bold 20px/30px Perpetua;
  letter-spacing: 0.6px;
  color: #4b4b4b;
}
#company {
  text-align: center;
  font: 400 18px Muli;
  letter-spacing: 0.54px;
  color: #4b4b4b;
}
.btn-testimonial {
  position: relative;
  top: 200px;
  margin: 0 auto;

  width: 10%;
  height: 62px;
  box-shadow: 0px 20px 20px #50302028;
}
#btn-testimonial-text {
  text-align: center;
  width: 90%;
  font: 300 18px Muli;
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
.footer {
  position: relative;
  margin-top: -160px;
  height: 1180px;
  bottom: 0px;

  background: #4b4b4b 0% 0% no-repeat padding-box;
  opacity: 1;
}
.foot-logo {
  width: 50%;
}

.want-to-sell {
  position: relative;
  top: 185px;
  text-align: center;
  font: Bold 40px/50px Perpetua;
  letter-spacing: 1.2px;
  color: #ffffff;
  opacity: 1;
}
.sell-description {
  position: relative;
  top: 240px;
  text-align: center;
  margin: 0 auto;

  font: 200 16px Muli;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  line-height: 35px;
  width: 48%;
}
.btn-footer {
  position: relative;
  top: 390px;
  width: 10%;
  height: 62px;
}
.btn-footer-text {
  text-align: center;
  font: 400 18px Muli;
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
#btn-sell {
  position: relative;
  margin-left: 5%;
}
.foot-line1 {
  border: 1px solid #fe8369;
  opacity: 1;
  position: relative;
  width: 8%;
  top: 395px;
  left: 2.5%;
}
.foot-line2 {
  position: relative;
  top: 500px;
  width: 75%;
  border: 1px solid #fe8369;
  opacity: 1;
  margin-left: 12.5%;
}
.footer-secPart {
  position: relative;
  display: grid;
  margin-left: 12.5%;
  grid-template-columns: 20% 10% 10% 10% 21%;
  top: 600px;
  grid-gap: 4%;
}
.foot {
  height: 260px;
}
.place-together {
  position: relative;
  top: 10.3px;
  text-align: left;
  font: Bold 40px Perpetua;
  letter-spacing: 1.2px;
  color: #ffffff;
  opacity: 1;
}
.foot-social {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  position: relative;
  top: 24px;
}

.social-circle {
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #f0e3d0;
  opacity: 1;
}
.social-circle img {
  width: 90%;
  margin: 0 auto;
}
.footer-heading {
  position: relative;
  text-align: left;
  font: Bold 18px Perpetua;
  letter-spacing: 0.54px;
  color: #ffffff;
  opacity: 1;
}
.footer-links {
  position: relative;
  top: 55px;
  text-align: left;
  font: 300 16px Muli;
  letter-spacing: 0px;

  opacity: 1;
  line-height: 35px;
}
.footer-links a {
  color: #f0e3d0;
}
.footer-heading::after {
  display: flex;
  float: left;
  content: "";
  position: absolute;
  border-top: 4px solid #fe8369;
  width: 31px;
  margin-left: 0px;
  margin-top: 18px;
}
.footer-links a::before {
  content: "-";
  padding: 3px;
}
.subscribe input {
  position: relative;

  width: 65%;
  height: 50px;
  border: 1px solid #f0e3d0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 1;
  background: transparent;
  text-align: left;
  font: 300 16px Muli;
  letter-spacing: 0px;
  color: #f0e3d0;
  opacity: 1;
  top: 74px;
}
.btn-subscribe-text {
  text-align: left;
  font: 300 16px "Noto Serif";
  letter-spacing: 0.48px;
  color: #ffffff;
  opacity: 1;
}
.btn-success {
  position: relative;
  top: 22px;
  left: 65%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 35%;
  height: 52px;
  box-shadow: none;
}
.subscribe input::placeholder {
  padding: 8%;
}
.foot-line3 {
  position: relative;
  top: 630px;
  width: 75%;
  border: 1px solid #fe8369;
  opacity: 1;
  margin-left: 12.5%;
}
.copyright {
  position: relative;
  top: 680px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font: 300 18px Muli;
  letter-spacing: 0px;
  color: #f0e3d0;
  opacity: 1;
}
.A::after {
  display: flex;
  float: left;
  content: "";
  position: absolute;
  border-top: 1px solid #fe8369;
  width: 4%;
  margin-left: -20px;
  margin-top: 5px;
}

@media only screen and (max-width: 1600px) {
  .bar {
    grid-column: 3;
    margin-left: 35%;
  }

  .social-circle {
    width: 45px;
    height: 45px;
  }
  .numb {
    font-size: 18px;
  }

  #line3 {
    width: 37%;
  }
  .dropDown {
    width: 58%;
  }
  .btn-text {
    font-size: 16px;
  }
  .line2 {
    width: 36%;
  }
}
@media only screen and (max-width: 1500px) {
  .nav-container {
    grid-template-columns: 6% 23% 52% 15%;
  }
  #header-img {
    position: relative;
    margin-top: -450px;
    width: 100%;
    height: 1700px;
  }
  .nav-room {
    display: grid;
    margin-left: 8%;
    grid-template-columns: repeat(2, 23%);
  }
  .btn-price {
    left: 250%;
  }
  .choose {
    top: 60px;
  }
  .help {
    top: 60px;
  }
  .dropDown {
    top: 100px;
  }
  .place {
    margin-left: 8%;
  }
  .bar {
    margin-left: 25%;
  }
  .A::after {
    margin-left: -10px;
  }
  .white {
    height: 460px;
  }
  .pic1 {
    height: 292px;
  }
  .pic2,
  .pic3 {
    height: 267px;
  }
  .sectionA {
    position: relative;
    top: 71px;
  }
  .white-subtext {
    width: 60%;
  }
  .feature {
    height: 448px;
  }
  .line2 {
    width: 37%;
  }
  .vl {
    left: 15%;
  }
  .featured-items {
    position: relative;
    top: 90px;
    display: grid;
    margin-left: 13%;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 4%;
  }
}
@media only screen and (max-width: 1400px) {
  .nav-container {
    grid-template-columns: 5% 25% 52% 15%;
  }
  .place {
    margin-left: 5%;
  }
  .place {
    font-size: 36px;
  }
  #img-logo {
    width: 374%;
    margin: 0 auto;
    position: relative;
    top: 40%;
  }

  .bar {
    font-size: 14px;
  }
  .btn-text {
    font-size: 14px;
  }
  .main-sec {
    top: -650px;
  }
  .main-welcome {
    font-size: 36px;
  }
  .sub-text {
    top: 40px;
    font-size: 14px;
    width: 85%;
  }
  #sub-text2 {
    position: relative;
    margin-top: 21px;
  }
  .white {
    height: 380px;
  }
  .pic2,
  .pic3 {
    height: 197px;
  }

  .pic1 {
    height: 230px;
  }
  #rent::before {
  }
  .btn-price {
    left: 250%;
    width: 155%;
  }
  .nav-room {
    grid-template-columns: repeat(2, 24%);
  }
  #header-img {
    position: relative;
    margin-top: -450px;
    width: 100%;
    height: 1500px;
  }
}
@media only screen and (max-width: 1290px) {
  .place {
    font-size: 34px;
  }
  .nav-container {
    grid-template-columns: 5% 25% 52% 17%;
  }

  .main-sec {
    top: -800px;
  }
  .choose {
    font-size: 60px;
    top: 60px;
  }
  .help {
    top: 60px;
    font-size: 45px;
  }
  .dropDown {
    top: 100px;
    width: 70%;
  }
  .white {
    height: 340px;
    width: 64%;
  }
  .pic2,
  .pic3 {
    height: 164px;
  }
  .pic1 {
    height: 215px;
  }
  #header-img {
    position: relative;
    margin-top: -450px;
    width: 100%;
    height: 1700px;
  }
  .white-subtext {
    font-size: 13px;
  }
  .details {
    width: 30%;
  }
  .line2 {
    width: 44%;
  }
  .sec-nav {
    width: 5%;
    right: 20%;
  }
  .featured-items {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2%;
  }
  .nav-room {
    grid-template-columns: repeat(2, 25%);
  }

  .btn-price {
    width: 140%;
    left: 238%;
  }
  .btn-view {
    width: 14%;
  }
  .view-all {
    position: relative;
    width: 49%;
  }
  .vl {
    left: 20%;
  }
  .btn-testimonial,
  .btn-footer {
    width: 14%;
  }
  .foot {
    height: 304px;
  }
  .footer {
    height: 1280px;
  }
  .foot-social {
    grid-template-columns: 36% 34%;
    grid-gap: 10%;
  }
  #line3 {
    width: 32%;
  }
  .footer-links {
    position: relative;
    top: 55px;
    text-align: left;
    font: 300 14px Muli;
  }
  .footer-secPart {
    grid-template-columns: 20% 13% 13% 15% 21%;
    grid-gap: 2%;
  }
  .foot-line3,
  .foot-line2 {
    width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-container {
    margin-left: 3%;
    grid-template-columns: 5% 28% 49% 17%;
  }
  #header-img {
    height: 1400px;
  }
  .bar {
    margin-top: 48px;
    margin-left: 8%;
  }
  .btn-text {
    font-size: 12px;
  }
  .drop-list {
    font-size: 21px;
  }
  .white {
    width: 79%;
  }
  .featured-heading,
  .featured-sub {
    left: 6%;
  }
  .featured-items {
    margin-left: 7%;
  }
  .sec-nav {
    font-size: 16px;
    right: 23%;
  }

  .process-container {
    grid-template-columns: 34% 55%;
    margin-left: 10%;
    grid-gap: 3%;
  }
  #line3 {
    width: 29%;
  }
  .vl {
    left: 22%;
  }
  .testimonial-text {
    left: 5%;
  }
  .testimonial-des {
    width: 56%;

    font: Italic 18px/35px Muli;
  }
  .foot-line2,
  .foot-line3 {
    margin-left: 5.5%;
    width: 85%;
  }
  .footer-secPart {
    margin-left: 6.5%;
    grid-template-columns: 20% 15% 15% 18% 21%;
    grid-gap: 1%;
  }
  .A::after {
    width: 5%;
    margin-left: -4px;
  }
}
@media only screen and (max-width: 950px) {
  .place {
    font-size: 25px;
  }
  .btn-text {
    font-size: 12px;
  }
  .number {
    top: 26px;
    width: 100%;
    height: 47px;
  }
  .bar {
    font-size: 10px;
  }
  .dropDown {
    width: 82%;
  }
  #rent::before {
    width: 40px;
  }
  .white {
    position: relative;
    left: 1%;
    width: 80%;
  }
  .white-subtext {
    font-size: 11px;
  }
  .main-welcome {
    font-size: 31px;
  }
  .sub-text {
    top: 40px;
    font-size: 12px;
    width: 85%;
  }
  .details {
    height: 51px;
  }
  .white-text {
    font-size: 18px;
  }
  .line2 {
    width: 50%;
  }
  .main-sec {
    top: -780px;
  }
  .featured-items {
    grid-template-columns: 45% 45%;
    grid-gap: 3%;
  }
  .sec-nav a {
    text-decoration: none;
    padding-right: 25px;
  }
  #line3 {
    width: 25%;
  }
  .process-container {
    grid-template-columns: 35% 55%;
    margin-left: 5%;
    grid-gap: 3%;
  }
  .sec-subHead,
  .sub-head {
    font-size: 12px;
  }
  #Heading {
    font-size: 34px;
  }

  .sec-Head {
    font-size: 18px;
  }
  .vl {
    left: 28%;
  }
  .btn-testimonial,
  .btn-footer {
    width: 17%;
  }
  .place-together {
    font-size: 31px;
  }
  .subscribe input {
    font-size: 12px;
  }
  .btn-success {
    top: 21.5px;

    width: 43%;
  }
  .foot-line3.foot-line2 {
    width: 90%;
  }
}
@media only screen and (max-width: 750px) {
  .place {
    font-size: 19px;
  }
  .bar {
    font-size: 8px;
    margin-left: 1%;
  }
  .btn-text {
    font-size: 8px;
  }
  #img-logo {
    top: 56%;
  }
  .help {
    font-size: 35px;
  }
  .choose {
    font-size: 55px;
    top: 48px;
  }
  .dropDown {
    width: 92%;
  }
  .drop-list {
    font-size: 17px;
  }
  .dropdown-heading {
    font-size: 12px;
  }
  .main-welcome {
    font-size: 26px;
    width: 90%;
  }
  .sub-text {
    font-size: 12px;
    width: 92%;
  }
  .details {
    width: 45%;
  }
  .sub-detail {
    padding: 4px;
    font-size: 12px;
    top: 20px;
  }
  #arrow1 {
    width: 18%;
    height: 12px;
  }
  .white {
    width: 89%;
  }
  .white-text::before {
    width: 28px;
    margin-left: -36px;
    top: 10px;
  }
  .pic2,
  .pic3 {
    height: 145px;
  }
  .pic1 {
    height: 171px;
  }

  .featured-sub {
    position: relative;
    text-align: left;
    width: 61%;
  }
  .featured-heading {
    width: 60%;

    font-size: 31px;
  }

  .line2 {
    width: 52%;
  }

  .btn-view {
    width: 22%;
  }
  .btn-view-text,
  .btn-view-all {
    font-size: 15px;
  }
  #Heading {
    font-size: 27px;
  }
  .view-all {
    width: 59%;
  }
  .sec-subHead {
    font-size: 12px;

    line-height: 26px;
  }
  .sec-Head {
    font-size: 16px;
  }
  #line3 {
    width: 17%;
  }
  .vl {
    left: 40%;
  }
  .testimonial-text {
    left: 9%;
  }
  .circle {
    left: -169px;
  }
  .btn-testimonial,
  .btn-footer {
    width: 27%;
  }
  .want-to-sell {
    font: Bold 30px/50px Perpetua;
  }
  .sell-description {
    width: 56%;
  }
  .btn-footer-text {
    font: 400 14px Muli;
  }
  .place-together {
    font-size: 21px;
  }
  .social-circle {
    width: 30px;
    height: 30px;
  }
  .footer-links {
    font: 300 14px Muli;
  }
  .footer-heading {
    position: relative;
    text-align: left;
    font: Bold 14px Perpetua;
  }
  .footer-secPart {
    margin-left: 4%;
    grid-template-columns: 20% 24% 22% 24%;
    grid-gap: 1%;
  }
  .foot-line2,
  .foot-line3 {
    margin-left: 2%;
    width: 94%;
  }
  .sec-nav {
    font-size: 16px;
    right: 29%;
  }
  #rent::before {
    width: 35px;
  }
  .nav-room {
    grid-template-columns: repeat(2, 40%);
  }
  .btn-price {
    position: relative;
    border-radius: 0px;
    top: 5px;
    left: 14%;
  }
  .featured-items {
    grid-template-columns: 48% 48%;
    grid-gap: 3%;
  }
  #subscribe {
    grid-column: 2/4;
    grid-row: 2;
    position: relative;
    top: -100px;
    height: 50px;
  }

  .foot-line3 {
    position: relative;
    top: 657px;
  }
  .copyright {
    position: relative;
    top: 697px;
  }
  .footer {
    height: 1391px;
  }
  .btn-subscribe-text {
    font: 300 14px "Noto Serif";
  }
  .btn-success {
    top: 22.45px;
    width: 42%;
  }
}
@media only screen and (max-width: 600px) {
  #header-img {
    height: 1200px;
  }
  .place {
    font-size: 16px;
  }
  .number {
    top: 26px;
    width: 93%;
    height: 45px;
  }
  .nav-container {
    margin-left: 1%;
    grid-template-columns: 5% 28% 49% 19%;
  }
  .help {
    top: 25px;
    font-size: 29px;
  }
  .choose {
    font-size: 48px;
    top: 10px;
  }
  .dropDown {
    top: 37px;
  }
  .search {
    font-size: 15px;
  }
  .white {
    height: 323px;
  }
  .pic2,
  .pic3 {
    height: 113px;
    margin-top: 25px;
  }
  .pic1 {
    height: 147px;
    margin-top: 25px;
  }
  .white-text::before {
    width: 28px;
    margin-left: -30px;
    top: 10px;
  }
  .main-sec {
    top: -640px;
  }
  .sub-text {
    line-height: 19px;
  }
  .details {
    width: 63%;
  }
  .sec-nav {
    font-size: 16px;

    top: 30px;
  }

  .featured-sub {
    width: 88%;
  }
  #line3 {
    width: 11%;
  }
  .line2 {
    width: 62%;
  }
  .section {
    height: 345px;
  }
  .sec-img {
    width: 52%;
  }
  .vl {
    left: 46%;
  }
  .testimonial-text {
    left: 14%;

    top: -2px;
  }
  .testimonial-des {
    width: 66%;
  }
  .btn-testimonial {
    top: 153px;
  }
  .copyright {
    font: 300 13px Muli;
  }
  .footer-links {
    font: 300 11px Muli;
  }
}
@media only screen and (max-width: 600px) {
  .help {
    top: 39px;
    font-size: 25px;
  }
  .choose {
    font-size: 37px;
    top: 10px;
  }
  .dropDown {
    width: 98%;
  }
  .drop-list {
    width: 91%;
    font-size: 14px;
  }
  .pic2,
  .pic3 {
    height: 93px;
  }
  .pic1 {
    height: 121px;
  }
  .white-subtext {
    line-height: 20px;
  }
  .white-text::before {
    width: 18px;
    margin-left: -24px;
    top: 10px;
  }
  .main-welcome {
    font-size: 20px;
    width: 100%;
  }
  .details {
    position: relative;
    top: 52px;
  }
  .featured-items {
    grid-template-columns: 50% 50%;
    grid-gap: 3%;
  }
  .btn-view {
    width: 32%;
  }
  .benefits-text {
    width: 100%;
  }
  #line3 {
    width: 2%;
  }
  .process-B {
    grid-template-columns: 54% 54%;

    grid-gap: 4%;
  }
  #Heading {
    font-size: 21px;
  }
  .sec-subHead {
    line-height: 19px;
  }
  .view-all {
    width: 88%;
  }
  .testimonial-text {
    left: 18%;
    font-size: 26px;
  }
  .circle {
    left: -121px;
    top: 100px;
  }
  .testimonial-des {
    width: 75%;
    font: Italic 15px/35px Muli;
  }
  .btn-testimonial,
  .btn-footer {
    width: 36%;
  }
  .sell-description {
    font-size: 14px;
    width: 65%;
  }
  .footer-secPart {
    margin-left: 3%;
    grid-template-columns: 24% 24% 22% 24%;
  }
  .footer-secPart {
    margin-left: 3%;
    grid-template-columns: 35% 25% 25%;
    grid-gap: 1%;
  }
  #discover {
    position: relative;
    top: -95px;
    grid-column: 1;
    grid-row: 2;
    height: auto;
  }
  .footer {
    height: 1457px;
  }
  .featured-heading {
    width: 82%;
    font-size: 31px;
  }
  .line2 {
    width: 75%;
  }
  .place {
    position: relative;
    top: -30px;
    font-size: 13px;
  }
  #img-logo {
    top: 18%;
  }
  .bar {
    font-size: 8px;
    margin-left: -93px;
  }
  .nav-container {
    margin-left: 1%;
    grid-template-columns: 5% 28%;
  }
  .btn-text {
    font-size: 9px;
  }
}
@media only screen and (max-width: 400px) {
  .nav-container {
    grid-template-columns: 7% 30%;
    grid-template-rows: repeat(2, auto);
  }
  .place {
    position: relative;
    left: 10%;
    top: -25px;
    font-size: 25px;
    width: 180%;
  }
  #img-logo {
    width: 485%;
  }
  .bar {
    grid-template-columns: 43% 35% 32%;
    position: relative;
    top: 20px;
    font-size: 10px;
    left: -12px;
  }
  .number {
    top: 61px;
    width: 90%;
    position: relative;
    left: 5px;
    height: 45px;
  }
  .item {
    height: 30px;
  }
  .choose {
    font-size: 29px;
    top: 10px;
  }
  .dropdown-heading {
    font-size: 10px;
  }
  .main-sec {
    top: -732px;
  }
  .white-text::before {
    width: 18px;
    margin-left: -18px;
    top: 10px;
  }
  .sec-nav {
    right: 50%;
  }
  .btn-view-text,
  .btn-view-all {
    font-size: 15px;
  }
  .btn-view {
    width: 46%;
  }
  .featured-items {
    grid-gap: 2%;
  }
  .process-container {
    top: -125px;
  }
  .view-all {
    width: 100%;
  }

  .testimonial-text {
    left: 25%;
    font-size: 23px;
    width: 100%;
  }

  .circle {
    left: -70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 174px;
  }
  .footer {
    height: 1517px;
  }
}
